################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Utilitaries/bin/Debug/netcoreapp3.1
/Utilitaries/obj
